@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


#welcome_chicken_tikkamasala {
    height: auto;
    width: 150px;
}

#welcome_tandoori {
    height: auto;
    width: 200px;
}

.little_dots {
    list-style-type: none;
}

.little_dots li::before {
    content: "\2022";
    color: #ea580c;
    font-weight: bold;
    margin-right: 8px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    align-self: center;
}

.gallery img {
    width: 70%;
}

.gallery_2 {
    display: flex;
}

.gallery_img {
    width: 32.5%;
}

.about_us_main {
    padding-top: 5.5rem;
}

@media (max-width: 767px){
    #carte_resto {
        width: 100%;
    }

    .gallery {
        display: flex;
        flex-direction: column;
    }

    .gallery img {
        width: 80%;
    }

    .gallery_img {
        width: 80%;
    }
}